.dev-card {
    text-align: center;
    margin: 12px;
    padding: 20px 8px;
    background-color: whitesmoke;
    border: 1px solid gray;
    border-radius: 4px;
}
.dev-img {
    width: 128px;
    height: 128px;
    border-radius: 50%;
}
.btn {
    font-size: 16px;
    padding: 6px 42px;
    border: 1px solid gray;
    border-radius: 3px;
    cursor: pointer;
}
.btn-hire {
    color: #fff;
    background-color: #4caf50;
    border: 2px solid #4caf4c;
}
.btn-hire:hover {
    background-color: #555;
}